@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Open+Sans:wght@300&family=Raleway:wght@300;400;500;600&family=Ubuntu&display=swap");


.wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.label {
    height: 2rem;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: var(--black);
  }