.marker{
  display: inline-block;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  background: #FFFFFF;
  border: 1px solid #BAD8F5;
  border-radius: 2px;
}

._{
  display: flex;
}

.input{
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.area{
  display: flex;
  position: relative;
  align-items: center;
  background-size: contain;
  margin-right: 0.5rem;
}

.icon{
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  left: 0;
  right: 0;
  fill: var(--white);
  opacity: 0;
  transition: 0.1s ease-in;
}

.input:checked + .area .marker{
  background-color: var(--color-blue);
  border-color: var(--color-blue);
} 

.input:active + .area .marker {
  background-color: var(--color-light-blue);
}

.input:checked + .area .icon{
  opacity: 1;
  transition: 0.1s ease-in;
} 

.input:checked ~ .text{
  color: var(--color-blue);
}

.text{
  cursor: pointer;
}



