@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Open+Sans:wght@300&family=Raleway:wght@300;400;500;600&family=Ubuntu&display=swap");

:root {
  --color-blue: #459df5;
  --color-red: #f53152;
  --color-light-blue: #bad8f5;
  --black: #000000;
  --white: #ffff;
  --border: #7758d3;
}

.input {
    font-family: "Ubuntu";
    font-style: normal;
    font-size: 0.8125rem;
    font-weight: 400;
    cursor: pointer;
  }
  
  .inputLabel {
    display: inline-block;
    height: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .area {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 16rem;
    height: 2rem;
    border: 1px solid var(--color-blue);
    border-radius: 0.25rem;
    background-color: var(--white);
    cursor: pointer;
  }

  .small{
    width: 9rem;
  }

  .lsmall{
    width: 8rem;
  }

  .medium{
    width: 12rem;
  }
  
  .area .text {
    box-sizing: border-box;
    width: calc(100% - 1.75rem);
    height: 1rem;
    border: 0;
    margin: 0;
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    color: var(--black);
    caret-color: transparent;
    cursor: pointer;
  }
  
  .text::placeholder {
    color: var(--color-light-blue);
  }
  
  .text:focus {
    outline: none;
  }
  
  .incorrect .area {
    border: 1px solid var(--color-red);
  }
  
  .incorrect .text {
    width: calc(100% - 1.9rem);
  }

  .buttonAction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: 0;
    background: transparent;
  }
  
  .actionIcon {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    fill: var(--color-light-blue);
  }
  
  .IconIncorrect {
    stroke: var(--color-light-blue);
  }
  
  .disabled .area {
    background-color: var(--color-light-blue);
  }
  
  .disabled .text {
    width: calc(100% - 1.9rem);
    background-color: var(--color-light-blue);
  }
  
  .disabled .text::placeholder {
    color: var(--black);
  }
  
  .IconDisabled {
    fill: var(--black);
  }

  .dropdown{
    position: absolute;
    top: 2rem;
    left: calc(100% - 10rem);
    opacity: 1;
    transition: opacity .2s ease-in;
  }

  .active{
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }


  